---
import BaseLayout from "../layouts/base-layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/formatted-date.astro";
import type { AboutType } from "../content/config";

const aboutContent = await getCollection("about");
const content = aboutContent[0];
const { Content } = await content.render();
---

<BaseLayout title="About | Benedict Debrah">
    <div class="max-w-3xl mx-auto">
        <main class="prose prose-p:font-light prose-p:text-zinc-900 dark:prose-invert dark:prose-p:text-zinc-200">
            <div class="my-8">
                <h1 class="mb-0">{content.data.title}</h1>
                <FormattedDate date={new Date(content.data.date)} />
            </div>

            <div class="space-y-6">
                <Content />
            </div>
        </main>
    </div>
</BaseLayout> 